@model MDAM.Models.IndexViewModel
@{
    ViewBag.Title = "Управление аккаунтом";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Изменение настроек вашего аккаунта</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Пароль:</dt>
        <dd>
            [
            @Html.ActionLink("Изменить свой пароль", "ChangePassword")
            ]
        </dd>
    </dl>
</div>
