@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title</h2>

<address>
    г. Минск<br />
    ул. Кальварийская, д. 7<br />
    <abbr title="Телефон">P:</abbr>
    +375 (17) 203-15-63
</address>

<address>
    <strong>Управление развития и сопровождения АБС УОР: </strong><a href="mailto:v.zhuravlev@nbrb.by">Журавлёв Вячеслав Юрьевич</a><br />
    <ul>
        <li>
            <strong>Отдел развития: </strong><a href="mailto:o.chemerko@nbrb.by">Чемерко Олег Григорьевич</a><br />
        </li>
        <li>
            <strong>Отдел сопровождения: </strong><a href="mailto:e.zajtsev@nbrb.by">Зайцев Эдуард Викторович</a>
        </li>
    </ul>
</address>