@{
    ViewBag.Title = "Главная";
}

<div class="jumbotron">
    <h1 class="text-center">Добро пожаловать в АБС УОР</h1>
    <p class="text-center lead">Автоматизированная банковская система "Учетно-операционные работы" - это комплекс программного и технического обеспечения, направленный на автоматизацию учетно-операционных работы Национального банка Республики Беларусь.</p>
    <p class="text-center">@Html.ActionLink("Перейти в диалоги >>", "Index", "Dialog", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-large" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Развитие</h2>
        <p>
            Разработку новых программных модулей и сервисных программ осуществляет "Отдел развития УРиС АБС УОР".
        </p>
        <p>@Html.ActionLink("Контакты", "Contact", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Руководство</h2>
        <p>
            Общие возможности, предоставляемые пользователям при работе с автоматизированной
            банковской системой "Учетно-операционные работы" (АБС УОР).
        </p>
        <p><a class="btn btn-default" href="#">Скачать</a></p>
    </div>
    <div class="col-md-4">
        <h2>Сопровождение</h2>
        <p>Сопровождение существующих программных модулей и сервисных программ осуществляет "Отдел сопровождения УРиС АБС УОР".</p>
        <p>@Html.ActionLink("Контакты", "Contact", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })</p>
    </div>
</div>