body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* Свои стили */

.login > li > a.login {
    padding-left: 0px;
}

.login > li > p {
    margin-right: 5px;
}

.btn {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

body {
    font-family: "Lucida Grande", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    font-size: 15px;
    font-style: normal;
}

.navbar-inverse, .dropdown-menu {
    background-color: rgba(0,0,0,0.6);
    font-size: 16px;
    line-height: 20px;
    border-right-width: 3px;
    border-top-width: 3px;
    border-left-width: 3px;
    border-right-color: #FFF;
    border-left-color: #FFF;
    border-top-color: #FFF;
    border-radius: 20px;
    border-bottom: none;
}

.dropdown-menu {
    border-right-width: 0px;
    border-top-width: 0px;
    border-left-width: 0px;
}

    .navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand, .navbar-inverse .navbar-text, .dropdown-menu > li > a {
        color: #FFF;
    }

        .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav > li > input:hover, .dropdown-menu > li > a:hover {
            color: #c4c4c4;
            background-color: transparent;
        }

hr {
    border-top: 2px solid #e1e1e1;
}

.validate-summmary-form ul {
    padding-left: 10px;
}

.btn-link {
    padding: 15px;
    margin: 0px;
    border: 0px;
}

    .btn-link:hover {
        text-decoration: none;
    }

.loading {
    background: #aaaaaa url("images/ui-bg_diagonals-thick_50_aaaaaa_40x40.png") 50% 50% repeat;
    opacity: .5;
    filter: Alpha(Opacity=50); /* support: IE8 */
    border: none;
    padding: 15px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 20px;
    opacity: 1;
    color: #fff;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #808080;
}

.btnRemove, .btnEdit {
    background-color: transparent;
    opacity: 0.2;
}

    .btnRemove:hover {
        color: #d2322d;
        opacity: 1;
    }

    .btnEdit:hover {
        color: #ed9c28;
        opacity: 1;
    }

.img-responsive {
    display: initial;
}

.chosen-container .chosen-container-multi, .chosen-container .chosen-container-multi .chosen-with-drop .chosen-container-active {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    border: 4px;
}
